<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Enter title " id="">
    <input type="text" name="tag" placeholder="Enter tag" id="">
    <input type="number" name="date" placeholder="Enter date" id="">
    <input type="file" name="Image" id="">
    <input type="submit" value="button">
    </form>
    
</body>
</html>
