<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Open single std</h1>
    <table>
    <tr>
    <th>Rollno</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Image</th>
    <tr>
        <tr>
            <td>{{student.Rollno}}</td>
            <td>{{student.Name}}</td>
            <td>{{student.Age}}</td>
            <td>{{student.Email}}</td>
            <td><img src={{student.Image.url}} style="width: 100px;height: 100px;" alt=""></td>
            <td><a href="../edit_std/{{ student.pk }}"{{student}}>Edit</a></td>
            <td><a href="../delete_std/{{student.pk}}">Delete</a></td>
            <td><a href="../add_std/{{student.pk}}">Add</a></td>

        </tr>
        </table>
</body>
</html>
